
@use 'layout.scss';
@use 'loginn.scss';

@use 'colors' as *;
@use 'fonts' as *;


*{
    box-sizing: border-box;
}
body{
    background-color: $blue;
    height: 100vh;
    font-family: $mainfont;
    background-image: url('https://picsum.photos/200/300');
    background-size: cover;
}